.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 10px;
}

.carousel-inner {
    // position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-open-desc:checked+.carousel-item-desc {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

// .carousel-item-desc {
//     position: absolute;
//     opacity: 0;
//     -webkit-transition: opacity 0.6s ease-out;
//     transition: opacity 0.6s ease-out;
// }

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    // background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: -2%;
}

.carousel-control.next {
    right: -2%;
}

// .carousel-control:hover {
//     background: rgba(0, 0, 0, 0.8);
//     color: #aaaaaa;
// }
#carousel-1-desc:checked~.control-1-desc,
#carousel-2-desc:checked~.control-2-desc,

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3,
#carousel-4:checked~.control-4,
#carousel-5:checked~.control-5,
#carousel-6:checked~.control-6,
#carousel-7:checked~.control-7,
#carousel-8:checked~.control-8 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 40px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1-desc:checked~.control-1-desc~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2-desc:checked~.control-2-desc~.carousel-indicators li:nth-child(2) .carousel-bullet,

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked~.control-4~.carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked~.control-5~.carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked~.control-6~.carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked~.control-7~.carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-8:checked~.control-8~.carousel-indicators li:nth-child(8) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.modal-desc-title {
    text-align: center;
}



// arrow
.arrow-left span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #3176ff;
    border-left: 3px solid #318aff;

    margin: -2px;
    animation: arrow-left 1s infinite;
    float: left;
}

.arrow-left span:nth-child(2) {
    animation-delay: -0.1s;
}

.arrow-left span:nth-child(3) {
    animation-delay: -0.2s;
}

@keyframes arrow-left {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-0px, -0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }
}

// arrow-right
.arrow-right span {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid #3176ff;
    border-right: 3px solid #318aff;

    margin: -2px;
    animation: arrow-right 1s infinite;
    float: right;
}

.arrow-right span:nth-child(2) {
    animation-delay: -0.1s;
}

.arrow-right span:nth-child(3) {
    animation-delay: -0.2s;
}

@keyframes arrow-right {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-0px, -0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }
}

.carousel-img {

    display: flex;
    justify-content: center;
    align-items: center;

}