.modal-desc-global {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 15px;
    overflow-y: auto;
    z-index: 1;
    display: none;


}

.modal-main {
    background-color: white;
    position: relative;
    height: auto;
    width: 450px;

    margin: auto;
    border-radius: 16px;
    padding: 20px;

}

.btn-close-desc {
    position: absolute;
    top: 10px;
    right: 5px;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
        fill: var(--focus-hover-color);
    }
}

.list-desc {
    list-style: none;
    padding: 0;

    li {
        font-family: "Trebuchet MS", "Lucida Sans";
        padding: 7px 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-left: 10px solid #3455a1;
        box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
            -2px -2px 5px 0 rgba(0, 0, 0, .1),
            2px 2px 5px 0 rgba(0, 0, 0, .1),
            -2px 2px 5px 0 rgba(0, 0, 0, .1);
        font-size: 20px;
        letter-spacing: 2px;
        transition: 0.3s all linear;

        &:nth-child(2) {
            border-color: #3455a1;
        }

        &:nth-child(3) {
            border-color: #3455a1;
        }

        &:nth-child(4) {
            border-color: #3455a1;
        }

        &:nth-child(5) {
            border-color: #3455a1;
        }
    }
}